
body{
    background-color: #131021;
    color: white;
  }
  
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 7px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 0px;
    float: left;
    width: 24.99999%;
    margin: 50px;
  }

  .title{
    margin: auto;
    width: 60%;
    padding: 10px;
    margin: 0 30 0 30;
  }
  
  @media only screen and (min-width: 751px) {
    .responsive {
      /*width: 49.99999%;
      margin: 6px 0;*/
    }
  }
  
  @media only screen and (max-width: 750px) {
    .responsive {
      width: 100%;
      margin: 0px;
    }

    div.title{
      margin: auto;
      width: 60%;
      padding: 10px;
    }

    div.links{
      color: white;
    }
  
  }
  
  
  /*sajat
  @media screen and (orientation:landscape) { 
  
    div.gallery img{
      height: 100vh;
    }
   }
  
  
  
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  */